*
{
    margin=3px;
}
.title
{
    font-size:50px;
    color:#0057ad;
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(border.png) 30 round;  
}
.heading
{
    font-family:serif;
    font-size: 25px;
    color: #369eff;
    background: rgba(201, 201, 201, 0.3);
}
.content
{
    margin-bottom:100px;  
    font-size:30px; 
    color: #313336;  
}
.image
{
    float:left; 
    margin-right:75px;
    border-radius: 8px;
    height: 200px;
    width: 250px; 
}
.backgroung
{

}
body
{
    background-image: url("b1.gif");
}
h3
{
    text-shadow: 2px 2px 5px grey;
}
#mainNavbar .nav-link:hover
{
    color: #32D328;
    padding-top: 12px;
}
.nav-link
{
    padding-top: 15px;
}
p.Covid-info
{
    font-family: 'Londrina Outline', cursive;
    font-size: 45px;
}